:root {
  /* Background colors */
  --main-bg-color: hsl(222, 26%, 31%);

  --keypad-bg-color: hsl(223, 31%, 20%);

  --screen-bg-color: hsl(224, 36%, 15%);

  /* Key colors */
  --cancel-key-bg-color: hsl(225, 21%, 49%);
  --cancel-key-shadow-color: hsl(224, 28%, 35%);

  --equals-bg-color: hsl(6, 63%, 50%);
  --equals-shadow-color: hsl(6, 70%, 34%);

  --key-bg-color: hsl(30, 25%, 89%);
  --key-shadow-color: hsl(28, 16%, 65%);

  /* Text */
  --dark-text-color: hsl(221, 14%, 31%);
  --main-text-color: hsl(0, 0%, 100%);

  /* Sizes */
  --key-size: 3.5rem;

  /* Shadows */
  --key-shadow-offset: 4px;
}

* {
  font-family: "League Spartan";
  margin: 0;
  padding: 0;
}
/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Colors start */

/* Color group 1 */
.theme,
.screen,
h1,
.toggle-count {
  color: var(--main-text-color);
}

/* Color group 2 */
.equals,
.toggle__dot {
  background-color: var(--equals-bg-color);
}
/* Color group 3 */
.keypad,
.toggle {
  background-color: var(--keypad-bg-color);
}
/* Other colors start*/
.cancel-key {
  background-color: var(--cancel-key-bg-color);
  box-shadow: 0 var(--key-shadow-offset) var(--cancel-key-shadow-color);
}
.equals {
  box-shadow: 0 var(--key-shadow-offset) var(--equals-shadow-color);
  color: var(--key-bg-color);
}
.cancel-key {
  color: white;
}
main {
  background-color: var(--main-bg-color);
}
.main-key {
  background-color: var(--key-bg-color);
  box-shadow: 0 var(--key-shadow-offset) var(--key-shadow-color);
  color: var(--dark-text-color);
}
.screen {
  background-color: var(--screen-bg-color);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
/* Other colors end */

.upper {
  margin-bottom: 2rem;
}
.theme {
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
.screen {
  padding: 1.7rem;
  text-align: right;
  border-radius: 0.7rem;
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}
.keypad {
  padding: 1.6rem 1.5rem;
  border-radius: 0.7rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.8rem;
  flex-grow: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
main {
  padding: 1.8rem 1.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
h1 {
  font-size: 2rem;
}
.key {
  border-radius: 0.3rem;
  margin-bottom: var(--key-shadow-offset);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cancel-key,
.equals {
  font-size: 1.2rem;
}
.main-key p,
.cancel-key p,
.equals p {
  padding-top: 0.4rem;
}
.main-key {
  font-size: 2rem;
}
.equals {
  grid-column: span 2;
}
.toggle {
  --toggle-height: 1.6rem;
  --dot-size: 1rem;
  --toggle-width: 3.7rem;
  width: var(--toggle-width);
  height: var(--toggle-height);
  border-radius: 20rem;
  display: flex;
  align-items: center;

  /* Position the dot neatly considering it's size and toggle height */
  padding-left: calc((var(--toggle-height) - var(--dot-size)) / 2);
  padding-right: calc((var(--toggle-height) - var(--dot-size)) / 2);
}
.toggle__dot {
  border-radius: 9999px;
  width: var(--dot-size);
  height: var(--dot-size);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme-and-toggle {
  display: flex;
  align-items: end;
  gap: 1.5rem;
  font-size: 0.9rem;
}
.reset {
  grid-column: span 2;
}
.toggle-count {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}

/* Classes to remove and add in JS */
.dot-location-1 {
  transform: translate(0px);
}
.dot-location-2 {
  transform: translate(calc(var(--toggle-width) / 2 - var(--dot-size) / 2));
}
.dot-location-3 {
  transform: translate(calc(var(--toggle-width) - var(--dot-size)));
}
.clicked {
  box-shadow: none;
  transform: translateY(var(--key-shadow-offset));
}
