:root {
  /* Background colors */
  --main-bg-color: hsl(222, 26%, 31%);

  --toggle-bg-color: hsl(223, 31%, 20%);
  --keypad-bg-color: hsl(223, 31%, 20%);

  --screen-bg-color: hsl(224, 36%, 15%);

  /* Key colors */
  --cancel-key-bg-color: hsl(225, 21%, 49%);
  --cancel-key-shadow-color: hsl(224, 28%, 35%);

  --red: hsl(6, 63%, 50%);
  --red-shadow: hsl(6, 70%, 34%);

  --key-bg-color: hsl(30, 25%, 89%);
  --key-shadow-color: hsl(28, 16%, 65%);

  /* Text */
  ---dark-text-color: hsl(221, 14%, 31%);
  --light-text-color: hsl(0, 0, 100%);
}

* {
  font-family: "League Spartan";
}
/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.toggle {
  --toggle-height: 1.6rem;
  --dot-size: 1rem;

  width: 3.7rem;
  height: var(--toggle-height);
  background-color: var(--toggle-bg-color);
  border-radius: 20rem;
  display: flex;
  align-items: center;

  /* Position the dot neatly considering it's size and toggle height */
  padding-left: calc((var(--toggle-height) - var(--dot-size)) / 2);
}
.toggle__dot {
  border-radius: 9999px;
  width: var(--dot-size);
  height: var(--dot-size);
  background-color: var(--red);
}
