:root {
  /* Background colors */
  --main-bg-color: hsl(222, 26%, 31%);

  --toggle-bg-color: hsl(223, 31%, 20%);
  --keypad-bg-color: hsl(223, 31%, 20%);

  --screen-bg-color: hsl(224, 36%, 15%);

  /* Key colors */
  --cancel-key-bg-color: hsl(225, 21%, 49%);
  --cancel-key-shadow-color: hsl(224, 28%, 35%);

  --red: hsl(6, 63%, 50%);
  --red-shadow: hsl(6, 70%, 34%);

  --key-bg-color: hsl(30, 25%, 89%);
  --key-shadow-color: hsl(28, 16%, 65%);

  /* Text */
  ---dark-text-color: hsl(221, 14%, 31%);

  /* Sizes */
  --key-size: 3.5rem;
}

* {
  font-family: "League Spartan";
  margin: 0;
  padding: 0;
}
/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.theme,
.toggle,
.equals,
.cancel-key,
.screen,
h1,
.toggle-count {
  color: white;
}
.screen {
  background-color: var(--screen-bg-color);
  padding: 1.7rem;
  text-align: right;
  border-radius: 1rem;
}
.keypad {
  background-color: var(--keypad-bg-color);
  padding: 1.5rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  text-align: center;
  vertical-align: middle;
}
main {
  background-color: var(--main-bg-color);
  padding: 1.5rem;
}
h1 {
  font-size: 2rem;
}
.key {
  --shadow-offset: 4px;
  border-radius: 0.15rem;
  height: 3.5rem;
  min-width: calc(var(--key-size) + var(--shadow-offset));
}
.screen,
.main-key {
  font-size: 2rem;
}
.cancel-key,
.equals {
  font-size: 1.2rem;
}
.main-key p {
  padding-top: 1rem;
}
.cancel-key p,
.equals p {
  padding-top: 1.2rem;
}
.cancel-key {
  background-color: var(--cancel-key-bg-color);
}
.main-key {
  background-color: var(--key-bg-color);
  box-shadow: 0 var(--shadow-offset) var(--key-shadow-color);
  color: var(---dark-text-color);
}
.equals {
  background-color: var(--red);
  grid-column: span 2;
}
.toggle {
  --toggle-height: 1.6rem;
  --dot-size: 1rem;

  width: 3.7rem;
  height: var(--toggle-height);
  background-color: var(--toggle-bg-color);
  border-radius: 20rem;
  display: flex;
  align-items: center;

  /* Position the dot neatly considering it's size and toggle height */
  padding-left: calc((var(--toggle-height) - var(--dot-size)) / 2);
}
.toggle__dot {
  border-radius: 9999px;
  width: var(--dot-size);
  height: var(--dot-size);
  background-color: var(--red);
}
.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme-and-toggle {
  display: flex;
  align-items: end;
  gap: 2rem;
  font-size: 0.9rem;
}
.reset {
  grid-column: span 2;
}
.toggle-count {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
}
